<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %>
      <br>
      <br>
       E-mail address: luan.ch@northeastern.edu
       <br>
       LinkedIn profile: https://www.linkedin.com/in/liam-luan-6a4311204/
       <br>
       github: https://github.com/Liam-Luan
    </p>
<%- include("partials/footer"); -%>
